@charset "utf-8";
.content {
  width: 1200px;
  margin: 0 auto;
}
.content h1 {
  margin: 60px 0 50px 0;
  font-size: 38px;
  text-align: center;
  font-weight: normal;
  line-height: 1;
}
header {
  width: 100%;
  background-color: #6d6e70;
  height: 48px;
  color: white;
  position: relative;
}
header nav {
  display: flex;
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}
header nav div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header nav div:first-child {
  width: 50px;
  justify-content: center;
  background-color: #5f6062;
}
header nav div:not(:first-child) {
  width: 210px;
  padding: 0 50px 0 20px;
  font-size: 13px;
  font-weight: 600;
  border-right: 0.7px solid rgb(141, 141, 141);
}
header nav div:hover {
  background-color: rgb(68, 67, 67);
}
header nav div:not(:first-child)::after {
  content: "";
  display: inline-block;
  /* position: absolute;
  right: 0; */
  width: 50px;
  height: 8px;
  background-image: url(https://flyasiana.com/C/pc/image/common/ico_loca_arrow.png);
  background-repeat: no-repeat;
  background-position-x: center;
}
.content .cont-head {
  border-top: 1px solid #6d6e70;
  border-left: 1px solid #6d6e70;
  border-right: 1px solid #6d6e70;
}
.content .cont-head nav {
  display: flex;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}
.content .cont-head nav div {
  flex-grow: 1;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .cont-head nav div:first-child::before {
  content: "";
  display: inline-block;
  /* position: absolute;
  right: 0; */
  width: 30px;
  height: 15px;
  background-image: url(https://flyasiana.com/C/pc/image/common/ico_tab_on.png);
  background-repeat: no-repeat;
  background-position-x: center;
}
.content .cont-head nav div:not(:first-child) {
  background-color: #6d6e70;
  color: white;
}
.content .cont-head nav div:not(:first-child):hover {
  background-color: rgb(68, 67, 67);
}
.content .cont-head nav div:not(:first-child):not(:last-child) {
  border-right: 1px solid rgb(255, 255, 255);
}
.content .cont-sub-head {
  padding: 20px 0 30px 10px;
  font-size: 15px;
}
.content .cont-sub-head span {
  /* padding: 5px; */
}
.content .cont-sub-head span:first-child {
  border-bottom: 2px solid #d60815;
  color: #d60815;
}
.content .cont-body .intro {
  padding: 40px 440px 40px 50px;
  background-color: #e6e2df;
  background-image: url(https://flyasiana.com/C/pc/image/sub/baggage_visual_free.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 160px;
}
.content .cont-body .intro .intro-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 50px;
  font-weight: bold;
  color: #222;
}
